<!DOCTYPE html>
<html>
<head>
    <title>Emotion Detector</title>
</head>

<body>
    <h1>Emotion Detector</h1>

    <input type="text" id="textToAnalyze">

    <button onclick="RunSentimentAnalysis()">
        Analyze Emotion
    </button>

    <div id="system_response"></div>

    <script>
        function RunSentimentAnalysis() {

            const textToAnalyze =
                document.getElementById("textToAnalyze").value;

            fetch(
                `/emotionDetector?textToAnalyze=${textToAnalyze}`
            )
            .then(response => response.text())
            .then(data => {
                document.getElementById(
                    "system_response"
                ).innerHTML = data;
            });
        }
    </script>
</body>
</html>